* {
    margin: 0;
    padding: 0;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover ,a:focus{
    text-decoration: underline;
	background:none;
}

body, h3 {
    font-family: "\5fae\8f6f\96c5\9ed1", Arial, sans-serif;
    background-color: #c0c0c0;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    clear: both;
    display: table;
    content: "";
    visibility: hidden;
    overflow: hidden;
}

.page{
	width:100%;
	background:#f6f6f6;
}

.header {
	width:100%;
    height: 70px;
    line-height: 70px;
    color: #fff;
    background-color: #2d89ef;
	position:fixed;
	left:0;
	top:0;
	z-index:9;
}

.header .nav{
	padding-left:20px;
}
.header .nav li{
	padding:0 20px;
	float:left;
}
.header .nav a{
	padding:0;
	color:#fff;
}
.header .nav a:hover,.header .nav a:focus{
	background:none;
}

.content {
	width:1340px;
	height:475px;
	margin:70px 0 0 100px;
    position: relative;
	overflow:auto;
}

.toolbar {
    position: fixed;
    left: 0;
    top: 70px;
    z-index: 99;
    width: 100px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #e5e5e5;
}

.toolbar .tool-title,
.main-editor .edit-title {
    margin: 0;
    line-height: 30px;
    font-size: 14px;
    background-color: #ddd;
}

.toolbar .tool-list {
    margin-bottom: 0;
    padding: 0 5px;
}

.toolbar .tool-list .tool {
    line-height: 26px;
    border-top: 1px solid #ccc;
    cursor: pointer;
}

.toolbar .tool-list .tool:hover {
    background-color: #f8f8f8;
}

.main-ui {
    position: relative;
    padding: 10px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    background-color: #dedede;
	float:left;
}

.main-ui .ui-horizontal {
    position: absolute;
    left: 10px;
    top: -1px;
    width: 990px;
    height: 11px;
    background: url(../images/rule-h.png) 0 0 repeat;
    border-top: 1px solid #ccc;
}

.main-ui .ui-vertical {
    position: absolute;
    left: -1px;
    top: 10px;
    width: 11px;
    height: 100%;
    background: url(../images/rule-v.png) 0 0 repeat;
    border-left: 1px solid #ccc;
}

.main-ui .ui-coding {
    position: relative;
    width: 990px;
    height: 450px;
    background-color: #fff;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.main-editor {
    position: fixed;
    top: 80px;
    right: 17px;
    z-index: 999;
    width: 270px;
    background-color: #efefef;
}

.main-editor .edit-title {
    padding-left: 5px;
    line-height: 24px;
    border-bottom: 1px solid #ccc;
    color: #333;
}

.main-editor .edit-bd {
    padding: 10px;
    padding-bottom: 0;
    font-size: 12px;
}
.main-editor .edit-bd .tit {
   margin:0 0 10px -10px;
   width:270px;
}
.main-editor .edit-bd .ui-edit-action {
    display: none;
    padding-bottom: 5px;
    text-align: right;
}

.prop-style {
    padding: 0 2px;
    width: 44px;
}
.prop-style-big {
    width: 190px;
}
.ui-can-edit {
    position: absolute;
    cursor: move;
}

.ui-can-edit a {
    cursor: move;
}

.ui-drag-main {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
}

.active {
    z-index: 100;
}

.active .ui-drag-main {
    border: 1px solid #d00;
}

.ui-drag-main .ui-drag-control {
    width: 100%;
    height: 100%;
    cursor: move;
}

.ui-drag-main .ui-resize {
    display: none;
    position: absolute;
    z-index: 2;
    width: 6px;
    height: 6px;
    background-color: #d00;
}

.active .ui-drag-main .ui-resize {
    display: block;
}

.ui-drag-main .ui-resize-lefttop {
    left: -3px;
    top: -3px;
    cursor: nw-resize;
}

.ui-drag-main .ui-resize-centertop {
    left: 50%;
    top: -3px;
    margin-left: -3px;
    cursor: n-resize;
}

.ui-drag-main .ui-resize-righttop {
    right: -3px;
    top: -3px;
    cursor: ne-resize;
}

.ui-drag-main .ui-resize-leftcenter {
    left: -3px;
    top: 50%;
    margin-top: -3px;
    cursor: w-resize;
}

.ui-drag-main .ui-resize-rightcenter {
    right: -3px;
    top: 50%;
    margin-top: -3px;
    cursor: e-resize;
}

.ui-drag-main .ui-resize-leftbottom {
    left: -3px;
    bottom: -3px;
    cursor: sw-resize;
}

.ui-drag-main .ui-resize-centerbottom {
    left: 50%;
    bottom: -3px;
    margin-left: -3px;
    cursor: s-resize;
}

.ui-drag-main .ui-resize-rightbottom {
    right: -3px;
    bottom: -3px;
    cursor: se-resize;
}


/* 热点功能 */
.ly-map {
    width: 200px;
    height: 200px;
}
.ly-map a{
    width: 100%;
    height: 100%;
	display:block;
}
/* 文本图层 */
.ly-text {
    width: 200px;
    height: 32px;
}
.ly-text a{
    width: 100%;
    height: 100%;
	display:block;
	color:#000;
}



/* 正反图片 */
.ly-zf {
    width: 200px;
    height: 200px;
}
.ly-zf .zhengpic,
.ly-zf .fanpic {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
.ly-zf .zhengpic {
    background-image: url(http://img03.taobaocdn.com/imgextra/i3/280837244/T2PwDaXjBbXXXXXXXX_!!280837244.jpg);
}
.ly-zf .fanpic {
    display: none;
    background-image: url(http://img02.taobaocdn.com/imgextra/i2/280837244/T220TpXilbXXXXXXXX_!!280837244.jpg);
}
.ly-zf a:hover .zhengpic {
    display: none;
}
.ly-zf a:hover .fanpic {
    display: block;
}







